﻿@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> signInManager
@inject UserManager<IdentityUser> UserManager
@{
	var username = User?.Identity?.Name;
	var firstLetter = string.IsNullOrEmpty(username) ? "" : username[0].ToString().ToUpper();
	var userId = UserManager.GetUserId(User);
	var currentUser = await UserManager.GetUserAsync(User);
	var roles = await UserManager.GetRolesAsync(currentUser);
}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] FinInsight </title>
	<link rel="icon" href="/images/logo.svg" type="image/svg+xml">
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
	<link href='https://cdn.jsdelivr.net/npm/froala-editor@latest/css/froala_editor.pkgd.min.css' rel='stylesheet' type='text/css' />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
	<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/Finance_BlogPost.styles.css" asp-append-version="true" />

</head>
<body>
	<header>
		<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-light bg-body-tertiary border-bottom box-shadow mb-3">
			<div class="container-fluid">
				<a class="navbar-brand" asp-controller="Home" asp-action="Index">
					<img src="/images/logo.svg" alt="FinInsight" width="35" height="30">
				</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
						aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="d-flex flex-row justify-content-end">
					<ul class="navbar-nav ml-auto d-flex flex-row">
						<li class="nav-item" id="notification-container">
							<a class="nav-link" href="@Url.Action("Index", "FinanceNews")" id="news-icon">
								<i class="bi bi-newspaper h4"></i>
							</a>
						</li>
						<li class="nav-item" id="notification-container">
							<a class="nav-link" href="@Url.Action("Index", "Notification")" id="notification-icon">
								<i class="bi bi-bell h4 position-relative" id="notification-bell-icon">
									<span class="position-absolute top-10 start-80 translate-middle p-1 bg-danger border border-light rounded-circle">
										<span class="visually-hidden">New alerts</span>
									</span>
								</i>
							</a>
						</li>

					</ul>
					<div class="mx-3">

						@if (signInManager.IsSignedIn(User))
						{
							<a href="#" id="profileDropdown" data-bs-toggle="dropdown" aria-expanded="false" style="text-decoration:none;">
								<div class="avatar-circle">@firstLetter</div>
							</a>
							<ul class="dropdown-menu dropdown-menu-end dropdown-menu-custom me-2" aria-labelledby="profileDropdown" style="border-radius:10px;">
								<li class="dropdown-item d-flex align-items-center">
									<div class="avatar-circle-small m-1">@firstLetter</div> @username
								</li>
								<li><hr class="dropdown-divider"></li>
								<li>
									<a href="@Url.Action("Details", "UserProfile")" class="dropdown-item d-flex align-items-center">
										<i class="bi bi-person me-2"></i> Your Profile
									</a>
								</li>
								<li>
									@if (roles.Contains("Admin"))
									{
										<a href="@Url.Action("Index", "AdminDashboard")" class="dropdown-item d-flex align-items-center">
											<i class="bi bi-speedometer2 me-2"></i> Dashboard
										</a>
									}
									else if (roles.Contains("Author"))
									{
										<a href="@Url.Action("List", "AuthorBlogPosts")" class="dropdown-item d-flex align-items-center">
											<i class="bi bi-speedometer2 me-2"></i> Dashboard
										</a>
									}
							

								</li>
								<li>
									<a href="@Url.Action("Index", "Notification")" class="dropdown-item d-flex align-items-center">
										<i class="bi bi-bell me-2"></i> Notifications
									</a>
								</li>
								<li><hr class="dropdown-divider"></li>
								<li>
									<a href="@Url.Action("Logout", "Account")" class="dropdown-item d-flex align-items-center">
										<i class="bi bi-box-arrow-right me-2"></i> Sign Out
									</a>
								</li>
							</ul>
						}
						else
						{
							<a class="btn me-3 light-btn"
							   asp-area=""
							   asp-controller="Account"
							   asp-action="Login">Login</a>

							<a class="btn me-3 dark-btn"
							   asp-area=""
							   asp-controller="Account"
							   asp-action="Register">Register</a>

						}

					</div>
				</div>
			</div>
		</nav>
	</header>
	<div class="container">
		<main role="main" class="pb-3">
			<partial name="_Notification" />
			<div class="sidebar-container">
				@if (roles.Contains("Admin"))
				{
					<partial name="_AdminSidebar" />
				}

		
				else if (roles.Contains("Author"))
				{
					<partial name="_AuthorSidebar" />
				}
				<section class="user-main dashboard-content p-5">
					@RenderBody()
				</section>
			</div>
		</main>
	</div>



	@if (roles.Contains("Admin"))
	{
		<script src="/js/admin_sidebar.js"></script>
	}

	else if (roles.Contains("Author"))
	{
		<script src="/js/author_sidebar.js"></script>
	}
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
	<script type='text/javascript' src='https://cdn.jsdelivr.net/npm/froala-editor@latest/js/froala_editor.pkgd.min.js'></script>
	<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	<script>
		document.getElementById('book-icon').addEventListener('click', function () {
			document.getElementById('book-icon').querySelector('i').classList.replace('bi-book', 'bi-book-fill');

		});
	</script>

	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
