@model List<Finance_BlogPost.Models.Domain.BlogPost>
@{
    Layout = "~/Views/Shared/_UserLayout.cshtml";
    int nextPage = Convert.ToInt32(ViewBag.PageNumber) + 1;
    int prevPage = Convert.ToInt32(ViewBag.PageNumber) - 1;
}

<div class="py-2">
    <div class="container">
        <h2>All BlogPosts</h2>
    </div>
</div>


<form method="get"
      asp-controller="AdminBlogPosts" ,
      asp-action="List">
    <div class="container mt-5">
        <div class="row">
            <div class="col col-md-3 d-flex">
                <input type="text" class="form-control"
                       name="searchQuery" value="@ViewBag.SearchQuery" />
                <button type="submit" class="btn btn-warning ms-3">Search</button>
            </div>
        </div>
    </div>
</form>

<div class="container py-5">
    <div class="mb-3 d-flex justify-content-end">
        <a class="btn light-btn" asp-controller="AdminBlogPosts" asp-action="Add">
            Create Blog Post
        </a>
    </div>
    @if (Model != null && Model.Any())
    {
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>

                            <div class="d-flex flex-row justify-content-center align-items-center">
                                Heading
                                <span>
                                    <a class="btn btn-link">
                                       asp-controller="AdminBlogPosts"
                                       asp-action="List"
                                       asp-route-sortBy="Heading"
                                       asp-route-sortDirection="Asc"
                                       asp-route-searchQuery="@ViewBag.SearchQuery">
                                        <i class="bi bi-arrow-up"></i>
                                    </a>
                                </span>
                                <span>
                                    <a class="btn btn-link"
                                       asp-controller="AdminBlogPosts"
                                       asp-action="List"
                                       asp-route-sortBy="Heading"
                                       asp-route-sortDirection="Desc"
                                       asp-route-searchQuery="@ViewBag.SearchQuery">
                                        <i class="bi bi-arrow-down"></i>
                                    </a>
                                </span>
                            </div>

                        </th>
                        <th>Tags</th>
                        <th>Visibility</th>
                        <th>
                            <div class="d-flex flex-row justify-content-center align-items-center">
                                Date Published
                                <span>
                                    <a class="btn btn-link"
                                       asp-controller="AdminBlogPosts"
                                       asp-action="List"
                                       asp-route-sortBy="PublishedDate"
                                       asp-route-sortDirection="Asc"
                                       asp-route-searchQuery="@ViewBag.SearchQuery">
                                        <i class="bi bi-arrow-up"></i>
                                    </a>
                                </span>
                                <span>
                                    <a class="btn btn-link"
                                       asp-controller="AdminBlogPosts"
                                       asp-action="List"
                                       asp-route-sortBy="PublishedDate"
                                       asp-route-sortDirection="Desc"
                                       asp-route-searchQuery="@ViewBag.SearchQuery">
                                        <i class="bi bi-arrow-down"></i>
                                    </a>
                                </span>
                            </div>
                        </th>
                        <th> </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var blogPost in Model)
                    {
                        <tr>
                            <td>@blogPost.Id</td>
                            <td>@blogPost.Heading</td>
                            <td>
                                <div class="d-flex">
                                    @foreach (var tag in blogPost.Tags)
                                    {
                                        <span class="badge bg-secondary me-1">@tag.Name</span>
                                    }
                                </div>
                            </td>
                            <td>@blogPost.Visible</td>
                            <td>@blogPost.PublishedDate</td>
                            <td>
                                <div class="w-75 btn-group" role="group">
                                    <a asp-controller="AdminBlogPosts" asp-action="Edit" asp-route-id="@blogPost.Id" class="btn btn-primary mx-2">
                                        <i class="bi bi-pencil-square"></i> Edit
                                    </a>
                                    <a onClick=Delete("delete/@blogPost.Id") class="btn btn-danger mx-2">
                                        <i class="bi bi-trash-fill"></i> Delete
                                    </a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    

        <nav aria-label="Page navigation example" class="bg-transparent mt-5  d-flex justify-content-center">
            <ul class="pagination">
                <li class="page-item">
                    <a class="page-link"
                       asp-controller="AdminBlogPosts"
                       asp-action="List"
                       asp-route-pageNumber="@prevPage"
                       asp-route-pageSize="@ViewBag.PageSize"
                       asp-route-sortBy="@ViewBag.SortBy"
                       asp-route-sortDirection="@ViewBag.SortDirection">
                        Previous
                    </a>
                </li>

                @for (int i = 1; i <= ViewBag.TotalPages; i++)
                {
                    <li class="page-item">
                        <a class="page-link"
                           asp-controller="AdminBlogPosts"
                           asp-action="List"
                           asp-route-pageNumber="@i"
                           asp-route-pageSize="@ViewBag.PageSize"
                           asp-route-sortBy="@ViewBag.SortBy"
                           asp-route-sortDirection="@ViewBag.SortDirection">
                            @i
                        </a>
                    </li>
                }


                <li class="page-item">
                    <a class="page-link"
                       asp-controller="AdminBlogPosts"
                       asp-action="List"
                       asp-route-pageNumber="@nextPage"
                       asp-route-pageSize="@ViewBag.PageSize"
                       asp-route-sortBy="@ViewBag.SortBy"
                       asp-route-sortDirection="@ViewBag.SortDirection">
                        Next
                    </a>
                </li>
            </ul>
        </nav>
    }
    else
    {
        <p>No Blog Posts Found!</p>
    }

</div>




@section Scripts {
    @{
        <partial name="_DeleteConfirmation" />
    }
}